section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

        li {
            border-bottom: 0.1px solid #8a939d;
            padding: 10px;

            & + li {
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                color: #8a939d;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
            }

            span {
                display: flex;
                justify-content: start;
                margin-top: 10px;

                svg {
                    margin: 5px;
                    color: #8a939d;
                }
            }
        }
    }
}